html {
    font-family: sans-serif;
    line-height: 1.5;
    color: #333;
}


label,
input {
    display: block;
    margin: 5px 0;
}


body {
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;

}

.red{
    color: red;
}

.purple{
    color:purple;
}

.box {

    border: 1px solid #95a5a6;
    margin-bottom: 50px;
    border-radius: 3px;
}


.imgInBox {
    width: 100%;
    object-fit: cover;

}

.header {
    height: 50px;
    background-color: white;
    border-bottom: 0.5px solid #95a5a6;
}

.profile-name {
    padding-top: 10px;
    padding-left: 85px;
    font-weight: bold;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

.location {
    padding-left: 85px;
    font-weight: thin;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 65%;
    margin-top: -5px;
}

.profile-pic {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
    float: left;
    margin: 10px 0px 0px 30px;
}

.actions {
    background-color: white;
    height: 35px;
    border-top: 1px solid #95a5a6;
    margin-bottom: 15px;

}

.icons {
    padding-top: 15px;
    padding-left: 30px;
    width: 90%
}

.icons i {
    width: 25px;
}

.right-float {
    float: right;
    width: 50px;
}

.description {
    padding-left: 30px;
}

.description-text {
    margin-top: -15px;
}

#nav-icons {
    width: 220px;
    color: white;
}

#nav-icons i {
    width: 45px;
}

.navbar-brand{
	text-transform: uppercase; 
}
.dots {
    margin-top: -35px;
}

.navbar-nav {
    flex-direction: row;

}

.navbar-nav i {
    padding-left: 20px;

}

#main {
    padding-top: 100px;
}


.img-slider {
    height: 100%;
    width: 100%;
}


.carousel-inner {
    width: 100%;
}